<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <h1>Congrats! This is what your birthstone is: <%=@gem%> </h1>
  <img src="http://4.bp.blogspot.com/-qVZ1cv20oCE/UbAzZg1A96I/AAAAAAAAClE/nPdMp-4hqSs/s400/6.+Puppies+are+Running.gif">
    
    
  </body>
</html>